.DS_Store
images
env

__pycache__/
*.pyc
*.pyo
*.pyd

# compressed files
compressed_outputs/
*.uofm

# all image files
theory/*.pgm
theory/*.jpg
theory/*.ppm
theory/*.png
theory/*.jpeg
src/*.pgm
src/*.jpg
src/*.ppm
src/*.png
src/*.jpeg